site_name: 'tfversion'
site_description: 'Documentation for tfversion'
site_author: 'tfversion'
site_url: 'https://tfversion.xyz'
copyright: 'Copyright &copy; 2024 tfversion'
index_page: index.md

repo_name: tfversion/tfversion
repo_url: https://github.com/tfversion/tfversion

use_directory_urls: false

nav:
  - Home: index.md
  - Install: install.md
  - Use: use.md

theme:
  name: material
  logo: images/logo.png
  favicon: images/logo.png
  palette:
    scheme: hashicorp
    primary: white
    accent: blue
  icon:
    repo: fontawesome/brands/github
  font: false
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - navigation.prune
    - content.tabs.link

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - md_in_html
  - attr_list
  - toc:
      permalink: true

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/tfversion

extra_javascript:
  - js/replace_links.js
